a.clone-widget {
	color: #b6b6b6;
	display: block;
	float: left;
	font-size: 120%;
	font-weight: bold;
	line-height: 26px;
	margin-left: -5px;
	text-decoration: none;
}

a.clone-widget:hover {
	color: #555;
}

.widget-title h4 {
	margin-right: 2.5em;
}
